
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="admin/_fragments :: head(~{::title})">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>首页</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../../static/css/me.css" />
	</head>
	<body>
		<!--导航-->
		<nav th:replace="admin/_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
				<h2 class="ui teal header item">管理后台</h2>
				<a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
				<a href="#" class="active m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
				<a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
				<div class="right m-item m-mobile-hide menu">
					<div class="ui dropdown item">
						<div class="text">
							<img src="../../static/images/p1.jpg" alt="" class="ui acatar image">
							苏帅桢
						</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<a href="#"  class="item">注销</a>
						</div>
					</div>
				</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>

		<br />

		<!--中间内容-->
		<div class=" m-container-small m-padded-tb-big">
			<div class="ui container">
				<div class="ui success large message">
					<h3>hi，</h3>
					<p>苏帅桢，加油！！！</p>
				</div>
			</div>
		</div>

		<img src="/images/p2.jpg" alt="" class="ui rounded bordered image">
		<br />
		<br />
		<br />
		<br />
		<!--底部footer-->
		<footer th:replace="admin/_fragments ::footer" class="ui inverted vertical segment ">
			<div class="ui  center aligned container">
				<div class="ui segments">
					<div class="ui inverted segment ">
						<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="../../static/images/p1.jpg" class="ui rounded image" alt="" style="width:150px;"/>
								
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（user story）</a>
							<a href="#" class="item">用户故事（user story）</a>
							<a href="#" class="item">用户故事（user story）</a>
						
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（user story）</a>
							<a href="#" class="item">用户故事（user story）</a>
							<a href="#" class="item">用户故事（user story）</a>
					
					</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<p class="m-text-thin m-text-spaced m-opacity-tiny">子啊都感觉啊打法来得及改的 大家发的</p>
					</div>
				</div>
					</div>
					
				<div class="ui inverted segment m-padded-tb-minii">
					<div class="ui  inverted section divider"></div>
				</div>
				
				<div class="ui inverted center aligned segment m-padded-tb-minix">
					<p class=" m-text-thin m-text-spaced m-opacity-tiny"> 啊打发都发订单发货的法国的分公司 发生过生地</p>
				</div>
				</div>
				</div>
					
			</div>
		</footer>
		
	<script src = "https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<script>
		$('.menu.toggle').click(function(){
			$('.m-item').toggleClass('m-mobile-hide');
		});
		
		$('.ui.dropdown')
		  .dropdown({
			  on: 'hover'
		  });
	</script>
	</body>
</html>
