
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="_fragments :: head(~{::title})">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>分类</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../static/css/me.css" />
	</head>
	<body>
		<!--导航-->
		<nav th:replace="_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
				<h2 class="ui teal header item">ssz</h2>
				<a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
				<a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
				<a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
				<a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
				<a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于我</a>
				<div class="right m-item item m-mobile-hide">
					<div class="ui icon inverted transparent input">
						<input type="text" placeholder="Search.. .."/>
						<i class="search link icon"></i>
					</div>
				</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>
		<br />

		<!--中间内容-->
		<div class=" m-container-small m-padded-tb-big">
			<div class="ui contianer">
				<!-- header -->
				<div class="ui top attached segment">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<h3 class="ui teal header">分类</h3>
						</div>
						<div class="right aligned column">
							共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(types)}">14</h2>篇
						</div>
					</div>
				</div>
				
				<div class="ui attached segment m-padded-tb-lage">
					<div class="ui labeled button m-margin-tb-tiny" th:each="type : ${types}">
						<a href="#" th:href="@{/types/{id}(id=${type.id})}" class="ui basic  button" th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${type.name}">思考于感悟</a>
						<div class="ui basic  left pointing label" th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${#arrays.length(type.blogs)}">24</div>
					</div>
					<br />
				</div>
			
				<div class="ui teal segment m-padded-tb-small  m-mobile-clear">
						<div class="ui m-padded-tb  segment " th:each="blog : ${ blogs.content}">
							<div class="ui middle aligned mobile reversed stackable grid" >
								<div class="ui eleven wide column">
									<h3 class="ui header"  ><a href="#" class="m-black" th:href="@{/blog/{id}(id = ${blog.id})}" th:text="${blog.title}">你真的知道如何接受自己吗？</a></h3>
									<p class="m-text" th:text="|${blog.description}......|">习一个技术，时间是完全足够的。到九月开学，一个功能完善的，使用了各种常见技术栈的博客基本搭建完成。然后再看情况学习技术栈，Java基础，面经等等。大概如此，该运动，还运动</p>
									<br>

									<div class="ui stackable grid">
										<div class="eleven wide column">
											<div class="ui mini horizontal link list">
												<div class="item">
													<img src="/images/p1.jpg"  th:src="@{${blog.user.avatar}}" class="ui avatar image" />
													<div class="content"> <a href="#" class="header" th:text="${blog.user.nickname}">苏帅桢</a> </div>
												</div>
												<div class="item">
													<i class="calendar icon" ></i><span th:text="${blog.updateTime}"> 2020-07-19 </span>
												</div>
												<div class="item">
													<i class="eye icon" ></i><span th:text="${blog.views}"> 2202</span>
												</div>
											</div>
										</div>
										<div class="right aligned five wide column">
											<a href="#" target="_blank" class="ui teal basic label m-padded-tb-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
										</div>
									</div>
								</div>

								<div class="five wide column">
									<a href="#" target="_blank" th:href="@{/blog/{id}(id = ${blog.id})}">
										<img src="/images/p1.jpg" alt="" class="ui rounded image" th:src="@{${blog.firstPicture}}"/>
									</a>
								</div>

							</div>
						</div>
				</div>

				<!-- footer -->
				<div class="ui bottom attached segment" th:if="${blogs.totalPages}>1">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<a href="#" th:href="@{/(page=${blogs.number}-1)}"  th:unless="${blogs.first}" class="ui mini teal basic button">上一页</a>
						</div>
						<div class="right aligned column">
							<a href="#" th:href="@{/(page=${blogs.number}+1)}"  th:unless="${blogs.last}" class="ui mini teal basic button">下一页</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<br />
		<br />
		<!--底部footer-->
		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment ">
			<div class="ui  center aligned container">
				<div class="ui segments">
					<div class="ui inverted segment ">
						<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img src="/images/p1.jpg" class="ui rounded image" alt="" style="width:150px;"/>
								
							</div>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（user story）</a>
							<a href="#" class="item">用户故事（user story）</a>
							<a href="#" class="item">用户故事（user story）</a>
						
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（user story）</a>
							<a href="#" class="item">用户故事（user story）</a>
							<a href="#" class="item">用户故事（user story）</a>
					
					</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<p class="m-text-thin m-text-spaced m-opacity-tiny">子啊都感觉啊打法来得及改的 大家发的</p>
					</div>
				</div>
					</div>
					
				<div class="ui inverted segment m-padded-tb-minii">
					<div class="ui  inverted section divider"></div>
				</div>
				
				<div class="ui inverted center aligned segment m-padded-tb-minix">
					<p class=" m-text-thin m-text-spaced m-opacity-tiny"> 啊打发都发订单发货的法国的分公司 发生过生地</p>
				</div>
				</div>
				</div>
					
			</div>
		</footer>

		<!--	/*/<th:block th:replace="_fragments :: script">/*/-->
		<script src = "https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
		<script src="/lib/prism/prism.js"></script>
		<script src="/lib/tocbot/tocbot.min.js"></script>
		<script src="/lib/qrcode/qrcode.min.js"></script>
		<script src="/lib/waypoints/jquery.waypoints.min.js"></script>
		<!--	/*/</th:block>/*/-->
	<script>
		$('.menu.toggle').click(function(){
			$('.m-item').toggleClass('m-mobile-hide');
		});
	</script>

	</body>
</html>
